@font-face {
  font-family: "FuturaBT-Book";
  src: url("./css/font/futura/fonts/FuturaBookfont.eot");
  src: url("./css/font/futura/fonts/FuturaBookfont.eot?#iefix")
      format("embedded-opentype"),
    url("./css/font/futura/fonts/FuturaBookfont.otf") format("opentype"),
    url("./css/font/futura/fonts/FuturaBookfont.svg") format("svg"),
    url("./css/font/futura/fonts/FuturaBookfont.ttf") format("truetype"),
    url("./css/font/futura/fonts/FuturaBookfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #000;
  color: #ddd;
  text-transform: uppercase;
  font-family: "FuturaBT-Book" !important;
  /* border: 1px solid red; */
}
.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* border: 1px solid yellow; */
}
.top_bar {
  width: 100%;
  height: 10%;
  display: flex;
  font-size: 1.3rem;
  background-color: #000;
  /* border: 1px solid teal; */
}
.bottom_contents {
  width: 100%;
  height: 90%;
  display: flex;
  /* border: tomato; */
}
.control {
  display: flex;
}
.control button {
  width: 2rem;
  height: 2rem;
}
.control_margin_right {
  width: 0.5rem;
}
.showhide_util {
  width: 100%;
  height: 100%;
  background-color: tomato;
  position: absolute;
  top: 0;
  left: 0;
}
.util_toggle_col_left_top {
  width: 30%;
  height: 100%;
}
.util_name_col {
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.util_gauge_col {
  width: 36.66%;
  height: 100%;
  font-size: 1.2rem;
}
.util_toggle_col_left_bottom {
  width: 33.33%;
  height: 100%;
  /* border: 1px solid firebrick; */
  display: flex;
}
.inner_util_toggle_col_left {
  width: 50%;
  height: 100%;
}
.inner_util_toggle_col_right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.util_toggle_col_middle_top {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.util_toggle_col_middle_bottom {
  width: 50%;
  height: 100%;
  font-size: 1.2rem;
}
.util_toggle_col_middle_bottom_btn {
  width: 33.33%;
  height: 100%;
  display: flex;
  display: flex;
}
.inner_util_toggle_col_right {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_util_toggle_col_left {
  width: 40%;
  height: 100%;
}
/* .showhide_cam {
  width: 100%;
  height: 100%;
  background-color: thistle;
  position: absolute;
  top: 0;
  left: 0;
}
.showhide_set {
  width: 100%;
  height: 100%;
  background-color: firebrick;
  position: absolute;
  top: 0;
  left: 0;
} */

/* top bar */
/* .top_bar div {
  border: 1px solid green;
} */
.top_bar_col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.time {
  width: 20%;
  height: 100%;
}
.logo {
  width: 50%;
  height: 100%;
}
.logo img {
  width: 100%;
  height: 100%;
}
.fahrenheit {
  width: 10%;
  height: 100%;
}
.humid {
  width: 10%;
  height: 100%;
}
.celsius {
  width: 10%;
  height: 100%;
}
/* navi */
.navi {
  width: 8%;
  height: 100%;
  /* border: 1px solid green; */
}
.menu {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #555;
  border-right: none;
}

.contents {
  width: 92%;
  height: 100%;
  font-size: 1.3rem;
  position: relative;
  /* border: 1px solid blue; */
}
.inner_contents {
  width: 100%;
  height: 100%;
  background-color: #888;
}
.inner_contents .col .row {
  border-left: none;
}
.li_wrap,
.air_wrap,
.util_wrap,
.cam_wrap,
.set_wrap {
  display: flex !important;
}
.col {
  width: 33.33%;
  height: 100%;
  /* border: 1px solid hotpink; */
}
.row {
  width: 100%;
  height: 20%;
  /* border: 1px solid sienna; */
  display: flex;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 1rem;
}
.row:nth-child(2n) {
  background-color: #999;
}
.row:nth-child(odd) {
  background-color: #888;
}
.air_wrap,
.util_wrap,
.cam_wrap,
.set_wrap {
  display: none;
}

/* toggle_col */
.toggle_col {
  width: 30%;
  height: 100%;
  /* border: 1px solid wheat; */
}
.toggle_btn {
  /* border: 1px solid green; */
}
.toggle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.text_on {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  color: #bbb;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
input:checked + .dot .text_on {
  color: transparent;
}
input:checked + .dot .text_off {
  color: #999;
}
.btn_wrap {
  position: relative;
}
.border_change {
  position: absolute;
  height: 52px;
  top: -6px;
  left: -10.9px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #444;
  border-left: 1px solid #222;
  border-right: 1px solid #444;
  /* border: 1px solid red; */
  display: none;
  z-index: 100;
}
input:checked + .dot .border_change {
  display: block;
}
.text_off {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  color: transparent;
  transition: 0.4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  font-size: 1.3rem;
  cursor: pointer;
}
.toggle input {
  display: none;
}
.dot {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 0.3rem;
}
.dot:before {
  position: absolute;
  content: "";
  font-size: 1rem;
  height: 60%;
  width: 100%;
  line-height: 30px;
  text-align: center;
  left: 0;
  top: 0;
  background-color: #5ab812;
  transition: 0.4s;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
input:focus + .dot {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .dot:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.dot.round {
  border-radius: 34px;
}
input:checked + .dot:before {
  transform: translateY(67%);
  top: 0;
  border-radius: 0;
  border-radius: 0;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  background-color: #bd380f;
}
input:checked + .toggle .bg_text {
  color: red;
}
input.default:checked + .dot {
  background-color: #444;
}

/* slider_col */
.slider_col {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
}
.slider_col div {
  width: 100%;
}
.range-slider__wrap .range-slider__tooltip .range-slider__tooltip__label {
  padding-right: 2rem !important;
}
/* app.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
