@font-face {
  font-family: "FuturaBT-Book";
  src: url("./css/font/futura/fonts/FuturaBookfont.eot");
  src: url("./css/font/futura/fonts/FuturaBookfont.eot?#iefix")
      format("embedded-opentype"),
    url("./css/font/futura/fonts/FuturaBookfont.otf") format("opentype"),
    url("./css/font/futura/fonts/FuturaBookfont.svg") format("svg"),
    url("./css/font/futura/fonts/FuturaBookfont.ttf") format("truetype"),
    url("./css/font/futura/fonts/FuturaBookfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #000;
  color: #ddd;
  text-transform: uppercase;
  font-family: "FuturaBT-Book" !important;
  /* border: 1px solid red; */
}
.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* border: 1px solid yellow; */
}
.top_bar {
  width: 100%;
  height: 10%;
  display: flex;
  font-size: 1.3rem;
  background-color: #000;
  /* border: 1px solid teal; */
}
.top_bar_col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom_contents {
  width: 100%;
  height: 90%;
  display: flex;
  /* border: tomato; */
}
.inner_col_wrap {
  width: 50%;
  height: 100%;
  /* border: 1px solid palegreen; */
}
.col_wrap_inner_left {
  width: 50%;
  height: 100%;
}
.col_wrap_inner_right {
  width: 50%;
  height: 100%;
}
.col_wrap_inner_right_top,
.col_wrap_inner_right_bottm {
  width: 100%;
  height: 46%;
}
.col_wrap_inner_right_top {
  margin-bottom: 0.5rem;
}
.li_flex {
  display: flex;
}
.slider_width {
  height: 50%;
}
/* .temp_width {
  width: 33.33%;
} */
.slider_height {
  width: 50%;
}
/* .li_text_center {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.li_btn_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin_left {
  margin-left: 0.5rem;
}
.margin_right {
  margin-right: 0.5rem;
}
.time {
  width: 20%;
  height: 100%;
}
.logo {
  width: 50%;
  height: 100%;
}
.logo img {
  width: 100%;
  height: 100%;
}
.fahrenheit {
  width: 10%;
  height: 100%;
}
.humid {
  width: 10%;
  height: 100%;
}
.celsius {
  width: 10%;
  height: 100%;
}
/* navi */
.navi {
  width: 1%;
  height: 100%;
  /* border: 1px solid green; */
}
.menu {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
}
.menu:hover,
.menu:focus {
  background-color: #424242 !important;
}
.contents {
  width: 99%;
  height: 100%;
  font-size: 1.1rem;
  position: relative;
  /* border: 1px solid blue; */
}
.inner_contents {
  width: 100%;
  height: 100%;
  background-color: #2c2a2a;
  display: flex;
  padding: 0.5rem;
  padding-right: 0;
}
.inner_contents .col .row {
  border-left: none;
}

.col {
  width: 33.33%;
  height: 100%;
  margin-right: 0.5rem;
  /* border: 1px solid hotpink; */
}
.row {
  width: 100%;
  height: 20%;
  /* border: 1px solid sienna; */
  display: flex;
  margin-bottom: 0.5rem;
}

/* bg and title*/
.wrap_bg {
  background-color: #353535;
  border-radius: 0.3rem;
  box-shadow: inset -3px -3px 5px #383535;
  margin-bottom: 0.5rem;
}
.title {
  border-radius: 0.3rem;
  background-color: gray;
  box-shadow: inset -1px -1px 5px #383535;
  /* border: 1px solid green; */
}

/* 조명 */
.li_wrap {
  width: 100%;
  height: 82.8%;
}
.li_wrap .title {
  width: 100%;
  height: 4.7%;
}
.li_wrap .row_wrap {
  height: 95.3%;
  padding: 0.5rem;
}
.li_wrap .row_wrap .row {
  width: 100%;
  height: 27.3%;
}
.li_wrap .row:nth-child(1) .col_wrap_inner_right,
.li_wrap .row:nth-child(2) .col_wrap_inner_right,
.li_wrap .row:nth-child(3) .col_wrap_inner_right {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}
.li_wrap .row_wrap .row:nth-child(1) .col_wrap_inner_right .toggle_slider,
.li_wrap .row_wrap .row:nth-child(1) .col_wrap_inner_right .toggle {
  width: 90%;
  height: 90%;
}
.li_wrap .row_wrap .row:nth-child(2) .col_wrap_inner_right .toggle_slider,
.li_wrap .row_wrap .row:nth-child(2) .col_wrap_inner_right .toggle {
  width: 90%;
  height: 90%;
}
.li_wrap .row_wrap .row:nth-child(3) .col_wrap_inner_right .toggle_slider,
.li_wrap .row_wrap .row:nth-child(3) .col_wrap_inner_right .toggle {
  width: 90%;
  height: 90%;
}
.li_wrap .row_wrap .row:nth-child(odd) {
  background-color: #232222 !important;
}
.li_wrap .row_wrap .row:last-child {
  margin-bottom: 0rem;
  height: 13%;
}

/* 배터리 */
.battery_wrap {
  width: 100%;
  height: 42.2%;
}
.battery_wrap .title {
  width: 100%;
  height: 9%;
}
.battery_wrap .row_wrap {
  width: 100%;
  height: 90%;
  padding: 0.5rem;
}
.battery_wrap .row_wrap .row {
  width: 100%;
  height: 48%;
}
.battery_flex {
  display: flex;
}
.progress_left,
.progress_right {
  height: 100%;
}
.progress_left {
  width: 45%;
}
.progress_right {
  width: 55%;
  text-align: left;
  text-transform: initial;
}

/* 온도 */
.temp_wrap {
  width: 100%;
  height: 100%;
}
.temp_wrap .title {
  width: 100%;
  height: 4%;
}
.temp_wrap .row_wrap {
  width: 100%;
  height: 96%;
  padding: 0.5rem;
}
.temp_wrap .row_wrap .row {
  width: 100%;
  height: 27.3%;
}
.temp_wrap .row_wrap .row:nth-child(odd) {
  background-color: #232222 !important;
}
.temp_wrap .row:nth-child(2) {
  height: 24% !important;
}
.control_wrap {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  padding-bottom: 0.5rem;
}
.control_top,
.control_bottom {
  width: 100%;
  height: 46%;
  display: flex;
  /* border: 1px solid green; */
}
.con_flex {
  display: flex;
}
.margin_bottom {
  margin-bottom: 0.5rem;
}
.control_inner {
  width: 33.33%;
  height: 100%;
  /* border: 1px solid black; */
}
.control_btn {
  /* width: 100%;
  height: 100%; */
  width: 90%;
  height: 90%;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  background-color: #525252;
  border-radius: 0.4rem;
  border: 2px solid #ddd;
  box-shadow: inset -3px -3px 5px #363535;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.control_btn:active {
  background-color: #444;
}
.control_margin_bottom {
  width: 100%;
  height: 0.5rem;
}
.slider_wrap {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid khaki; */
}
.slider_text {
  font-size: 0.8rem;
}
.control_last_row {
  width: 48%;
  height: 13%;
  margin-bottom: 1rem;
}
.control_last_row .text_on,
.control_last_row .text_off {
  width: 7rem;
}

/* 전기장치 */
.util_wrap {
  width: 100%;
  height: 27%;
}
.util_wrap .title {
  width: 100%;
  height: 15%;
}
.util_wrap .row_wrap {
  width: 100%;
  height: 85%;
  padding: 0.5rem;
}
.util_wrap .row_wrap .row {
  width: 100%;
  height: 47%;
}

/* 기타장치 */
.other_wrap {
  width: 100%;
  height: 16%;
}
.other_wrap .title {
  width: 100%;
  height: 25%;
}
.other_wrap .row_wrap {
  width: 100%;
  height: 75%;
  padding: 0.5rem;
}
.other_wrap .row {
  width: 100%;
  height: 100%;
}

/* 청/오수 */
.water_wrap_flex {
  width: 100%;
  height: 28%;
  display: flex;
  margin-bottom: 0.5rem;
}
.water_wrap {
  width: 50%;
  height: 100%;
}
.water_wrap .title {
  width: 100%;
  height: 14%;
}
.water_wrap .row_wrap {
  height: 86%;
  padding: 0.5rem;
}
.water_margin {
  margin-right: 0.5rem;
}
.water_wrap .row {
  width: 100%;
  height: 100%;
}
.freshwater_wrap,
.wastwater_wrap {
  width: 50%;
  height: 100%;
}
.water_top,
.water_bottom {
  width: 100%;
  height: 46%;
}
.water_top {
  margin-bottom: 0.5rem;
}

/* toggle */
.toggle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.toggle_slider {
  height: 100%;
  margin-bottom: 0.6rem;
}
.text_on {
  width: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #bbb;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
input:checked + .dot .text_on {
  color: transparent;
}
input:checked + .dot .text_off {
  color: #999;
}
.btn_wrap {
  position: relative;
}
.border_change {
  position: absolute;
  height: 52px;
  top: -6px;
  left: -10.9px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #444;
  border-left: 1px solid #222;
  border-right: 1px solid #444;
  /* border: 1px solid red; */
  display: none;
  z-index: 100;
}
input:checked + .dot .border_change {
  display: block;
}
.text_off {
  width: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  transition: 0.4s;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  font-size: 1.1rem;
  cursor: pointer;
}
.toggle input {
  display: none;
}
.dot {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 0.4rem;
  background-color: #525252;
  border: 2px solid #ddd;
  box-shadow: inset -3px -3px 5px #363535;
}
.dot:before {
  position: absolute;
  content: "";
  font-size: 1rem;
  height: 100%;
  width: 100%;
  line-height: 30px;
  text-align: center;
  left: 0;
  top: 0;

  transition: 0.4s;
  border-radius: 0.3rem;
}
input:focus + .dot {
  box-shadow: 0 0 1px #2196f3;
}
.dot.round {
  border-radius: 34px;
}
input:checked + .dot:before {
  top: 0;
  left: 0;
  border-radius: 0.3rem;
  background-color: #292929;
  border: none;
}
input.default:checked + .dot {
  background-color: #444;
  border: none;
}

/* progress bar vertical */
.vertical_bar {
  width: 100%;
  height: 100%;
  /* border: 1px solid blueviolet; */
}
.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #d7d9db;
  border-radius: 0.25rem;
}
.progress-bar-vertical {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  float: left;
  position: relative;
}
.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  transition: height 0.6s ease;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  /* background-color: #525252; */
  box-shadow: inset -3px -3px 5px #363535;
  transition: width 0.6s ease;
}
.pro_bar_blue {
  background-color: #1a44b3;
}
.pro_bar_red {
  background-color: #8b0707;
}
.pro_bar_green {
  background-color: #0a8539;
}
.pro_bar_yellowgreen {
  background-color: #76c021;
}
.pro_bar_orange {
  background-color: #db5b06;
}
.sr-only {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #979595;
  font-size: 1.1rem;
}

/* range slider */
.range_slider {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider_margin_bottom {
  margin-bottom: 0.3rem;
}
.range-slider__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider_wrap .range-slider__wrap:before {
  font-size: 0.8rem;
  position: absolute;
  top: -10%;
}
.row:nth-child(3) .slider_wrap:nth-child(1) .range-slider__wrap:before {
  content: "바닥난방";
  left: 30%;
}
.row:nth-child(3) .slider_wrap:nth-child(2) .range-slider__wrap:before {
  content: "공기난방(온풍)";
  left: 30%;
}
.row:nth-child(4) .slider_wrap:nth-child(1) .range-slider__wrap:before {
  content: "침대온수매트";
  left: 30%;
}
.row:nth-child(4) .slider_wrap:nth-child(2) .range-slider__wrap:before {
  content: "벙커온수매트";
  left: 30%;
}
input[type="range"].range-slider::-webkit-slider-runnable-track {
  height: 10px !important;
}
input[type="range"].range-slider::-moz-range-track {
  height: 20px !important;
}
input[type="range"].range-slider::-ms-track {
  height: 20px !important;
}
input[type="range"].range-slider::-webkit-slider-thumb {
  border-radius: 0.5rem !important;
  height: 40px !important;
  width: 40px !important;
  margin-top: -15px !important;
}
input[type="range"].range-slider::-moz-range-thumb {
  border-radius: 0.5rem !important;
  height: 40px !important;
  width: 40px !important;
  margin-top: -15px !important;
}
input[type="range"].range-slider::-ms-thumb {
  border-radius: 0.5rem !important;
  height: 40px !important;
  width: 40px !important;
  margin-top: -15px !important;
}
input[type="range"].range-slider.range-slider--primary::-webkit-slider-thumb {
  background: #807c7c !important;
  box-shadow: inset -3px -3px 5px #363535;
}
input[type="range"].range-slider.range-slider--primary::-moz-range-thumb {
  background: #807c7c !important;
  box-shadow: inset -3px -3px 5px #363535;
}
input[type="range"].range-slider.range-slider--primary::-ms-thumb {
  background: #807c7c !important;
  box-shadow: inset -3px -3px 5px #363535;
}
input[type="range"].range-slider.range-slider--primary:not(.disabled):focus::-webkit-slider-thumb,
input[type="range"].range-slider.range-slider--primary:not(.disabled):active::-webkit-slider-thumb {
  box-shadow: inset -3px -3px 5px #363535 !important;
}

input[type="range"].range-slider.range-slider--primary:not(.disabled):focus::-moz-range-thumb,
input[type="range"].range-slider.range-slider--primary:not(.disabled):active::-moz-range-thumb {
  box-shadow: inset -3px -3px 5px #363535 !important;
}
input[type="range"].range-slider.range-slider--primary:not(.disabled):focus::-ms-thumb,
input[type="range"].range-slider.range-slider--primary:not(.disabled):active::-ms-thumb {
  box-shadow: inset -3px -3px 5px #363535 !important;
}

/* camera modal */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
}
.modal-dialog {
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
}
.modal-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.camera_close {
  width: 5%;
  height: 10%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  color: #ddd;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 100;
}
.modal-body {
  width: 100%;
  height: 100%;
  display: flex;
  /* border: 1px solid red; */
}
.camera_view {
  width: 50%;
  height: 100%;
  /* border: 1px solid violet; */
}

/* 카메라 */
.camera_btn {
  width: 100%;
  height: 100%;
  background-color: #525252;
  border-radius: 0.4rem;
  border: 2px solid #ddd;
  box-shadow: inset -3px -3px 5px #363535;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.camera_btn:active {
  background-color: #444;
}

/* video js */
.video-js {
  width: 100%;
  height: 100%;
}

/* app.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
